name: release
on:
  push:
    tags: [ "v*" ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow clone
        run: git fetch --prune --unshallow
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Go 1.15.x
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Chocolatey Package Deployment
        run: |
          CURRENT_TAG=v$(pulumictl get version --language generic -o)
          pulumictl create choco-deploy -a tf2pulumi ${CURRENT_TAG}

